[include]
	path = ~/.gitconfig.local
[alias]
	aa = add --all
	cm = commit -m
	s = status --short --branch
	hdiff = !hunk diff
	hshow = !hunk show
[credential]
	helper = osxkeychain
[core]
	pager = delta
	editor = hx
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
